# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# global owners will be requested for
# review when someone opens a pull request.

* @GoogleCloudPlatform/blueprint-solutions @lukeschlangen @donmccasland @GoogleCloudPlatform/jump-start-solutions-admins @GoogleCloudPlatform/team-egg @GoogleCloudPlatform/developer-journey-app-approvers

CODEOWNERS @GoogleCloudPlatform/blueprint-solutions
docs/CODEOWNERS @GoogleCloudPlatform/blueprint-solutions
.github/CODEOWNERS @GoogleCloudPlatform/blueprint-solutions
